<div class="quick-menu" style="margin-top: 20px;">
  <h2>Quick Recommendations</h2>
  <div class="product-details" [ngClass]="{'show-more': showMore}">
    <div class="product1">
      <a routerLink="/product">
      <img src="assets/images4.jpg" style="width: 225px; height:225px;" alt="">
      <h6>Product Name: ornaments</h6>
      <p>Price: $69.99</p>
    </a>
    </div>
    <div class="product1">
      <a routerLink="/product">
      <img src="assets/images7.jpg" style="width: 225px; height:225px;" alt="">
      <h6>Product Name: food</h6>
      <p>Price: $69.99</p>
    </a>
    </div>
    <div class="product1">
      <img src="assets/images8.jpg" style="width: 225px; height:225px;" alt="">
      <h6>Product Name: Jewelry </h6>
      <p>Price: $69.99</p>  
    </div>
    <div class="product1">
      <img src="assets/images9.jpg" style="width: 225px; height:225px;" alt="">
      <h6>Product Name: food toy</h6>
      <p>Price: $69.99</p>
    </div>
  </div>
  <div *ngIf="showMore" class="additional-products">
    <div class="product-details2">
      <div class="product2">
        <img src="assets/image1.jpg" style="width: 225px; height:225px;" alt="">
        <h6>Product Name: Jewelry Box</h6>
        <p>Price: $69.99</p>
      </div>
      <div class="product2">
        <img src="assets/image1.jpg" style="width: 225px; height:225px;" alt="">
        <h6>Product Name: Jewelry Box</h6>
        <p>Price: $69.99</p>
      </div>
      <div class="product2">
        <img src="assets/image1.jpg" style="width: 225px; height:225px;" alt="">
        <h6>Product Name: Jewelry Box</h6>
        <p>Price: $69.99</p>
      </div>
      <div class="product2">
        <img src="assets/image1.jpg" style="width: 225px; height:225px;" alt="">
        <h6>Product Name: Jewelry Box</h6>
        <p>Price: $69.99</p>
      </div>
    </div>
  </div>
  <button (click)="toggleShowMore()" class="toggle-button">
    {{ showMore ? 'View Less' : 'View More' }}
  </button>
</div>