.fresh-recommendations {
  margin: 30px 60px 0px 60px;
}

.product-details {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 17px;
  flex-wrap: wrap; 
}

.product1 {
  padding: 10px;
  flex: 1 1 225px; 
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 6px;
  width: 25%; 
  border: 1px solid rgba(14, 4, 5, 0.2);
  border-radius: 10px;
}


@media (max-width: 600px) {
  .product-details {
    gap: 20px; 
  }

  .product1 {
    flex: 1 1 48%; 
    width: 48%; 
  }
}


.product1 img {
  object-fit: fill;
}

.product-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 17px;
}

.product2 {
  padding: 10px 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 6px;
  float: left;
  width: 25%;
  border: 1px solid;
  border-color: rgba(14, 4, 5, 0.2);
  border-radius: 10px;
}

.product2 img {
  object-fit: fill;
}

.product-details2 {
  margin-top: 10px;
  display: flex;
  margin-left: -10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 17px;
}

.toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 8px;
  border: none;
  background-color: white;

}

.toggle-button1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 60px;
  padding-left: 3px;
  position: relative;
  border: none;
  background-color: white;
}