<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="header-part">
<app-navbar></app-navbar>
<app-sec-navbar></app-sec-navbar>
</div>
<div class="product-main-details">
  <div class="left">
    <img src="assets/img1.jpg" alt="">
  </div>
  <div class="right">
    <h2>Product name</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt deserunt soluta unde, ea autem illo possimus consequatur iste nisi adipisci consequuntur enim, harum ratione! Sint voluptates ab, maiores quasi illo optio delectus.</p>
    <p>Rating</p>
    <h5>Price</h5>
    <h4>Chat With Seller</h4>
  </div>
</div>
<app-footer class="footer"></app-footer>
</body>
</html>