<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vridhi project</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="container">
        <form id="loginForm" class="form">
            <div class="logo-email">
                <img src="assets/logo.png" alt="Logo" >
            </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control">
                </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        <div class="signup-link">
            <span class="Signup">Don't have an account?</span>
            <a routerLink="/register" class="button">Sign Up</a>
        </div>
    </div>
</body>

</html>