.sec-nav {
  padding: 5px;
  margin: 10px 0 0 10px; /* Adjust margin for better alignment */
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.sec-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  /* Ensure items stay in one row */
  /* Hide any content that overflows */
}

.sec-nav li {
  flex: 0 0 auto;
  margin-right: 10px;
  /* Prevent items from growing or shrinking */
}

.sec-nav a {
  display: block;
  padding: 10px;
  white-space: nowrap;
  /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Display ellipsis for overflow text */
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

a:hover {
  /* text-decoration: underline; */
  color: rgb(20, 34, 228);
}

/* @media (max-width: 767px) {
  .sec-nav a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
  }
} */
@media (max-width: 767px) {
  .sec-nav {
    margin-left: 0; /* Adjust margin for better alignment on small screens */
    margin-right: 0;
  }

  .sec-nav li {
    margin-right: 5px; /* Reduce space between list items on small screens */
  }
}